
.bluebox{
  height: 532px;
  background-color: teal;
}

.primary{
  background-color: white;
}

.grey{
  height: 100px;
  background-color: grey;
  border: 10px solid white;
}

.pro{
  text-align: center;
}

.black{
  background-color: black;
}
